@import "tailwindcss";

@theme {
  --color-primary: #02191d;
  --color-secondary: #197686;
  --color-tertiary: #0e464f;
  --color-lighter-blue: #2ba4b9;
  --color-light-blue: #24a0b5;
  --color-bluish-green: #12464e;
  --color-blurry-green: #2c545b;
  --color-dark-green: #08252b;
  --color-darker-green: #052228;
  --color-greyish-green: #07373f;
  --color-calm-green: #08343c;
  --color-nice-green: #133d44;
  --color-dark-blue: #041e23;
  --text-color-light: #d9d9d9;
  --text-color-dark: #0a0c11;
  --text-color-greyed: #b3b3b3;
  --page1-bg: #041e23;
}

/* special fonts */
@font-face {
  font-family: "JejuMyeongjo";
  src: url("/assets/fonts/JejuMyeongjo-Regular.woff2") format("woff2"),
    url("/assets/fonts/JejuMyeongjo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-main {
  font-family: "JejuMyeongjo", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-roadrage {
  font-family: "Road Rage", sans-serif;
}

.font-alatsi {
  font-family: "Alatsi", serif;
}

/* gradient backgorunds */
.background {
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #02191d;
}

.nav-bg {
  background: rgba(5, 37, 44, 0.4);
  backdrop-filter: blur(2px);
}

.techember-bg {
  background: radial-gradient(
      103.64% 57.39% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    )
    rgba(10, 12, 17, 0.1);
}

.avatar-bg {
  background: rgba(0, 0, 0, 0.2);
}

/* media queries */
@media screen and (max-width: 360px) {
  .font-300 {
    font-size: 20px;
  }
}

@media screen and (min-width: 361px) {
  .font-300 {
    font-size: 34px;
  }
}
